* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}
ul {
  list-style: none;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: .5rem 0;
}

.app-wrapper.dark {
  background: #112d;
  color: white;
}

.dark .list-item {
  /*  */
  border-color: #aaa;
  background-color: #123;
  color: whitesmoke;
}
.dark .list-item--complete {
  border-color: cadetblue;
  border-left-color: #7f7;
}
.dark .new-item__text {
  border-color: darkgray;
  background-color: #123;
  color: aliceblue;
}

.dark .btn {
  border-color: #aaa;
  background: #1111;
  color: wheat;
}

.app-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.app-content {
  margin: 12px auto;
  padding: 8px;
  max-width: 600px;
}

.section {
  margin-bottom: 40px;
  padding: 1rem 0;
  margin: 1rem 0;
}

.btn {
  cursor: pointer;
  font: inherit;
  padding: .5rem 1rem;
  border: 1px solid #555;
  border-radius: 2px;
  background: radial-gradient(white, beige);
}
.btn.btn--small {
  padding: .25rem;
}
.btn.btn-primary {
  background: dodgerblue;
  color: whitesmoke;
}
.btn.btn-danger {
  background: indianred;
  color: whitesmoke;
}

.new-item__wrapper {
  position: relative;
}
.new-item__hint {
  position: absolute;
  display: none;
  bottom: -16px;
  left: 4px;
  font-size: .75rem;
}
.new-item__hint.active  {
  display: inline !important;
}
.new-item__text {
  resize: none;
  outline: none;
  font: inherit;
  width: 100%;
  min-height: 64px;
  padding: .5rem;
  margin-bottom: .25rem;
  border: 1px solid black;
  border-radius: 4px;
  transition: border ease-in-out .05s;
}
.new-item__text:focus {
  border: 2px solid;
  border-top-color: coral;
  border-bottom-color: deepskyblue;
  border-right-color: darkorchid;
  border-left-color: deeppink;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  margin-bottom: 8px;
  border: 1px solid #888;
  border-radius: 2px;
  background-color: whitesmoke;
}

.list-item.list-item--complete {
  border-color: cadetblue;
  border-left: 8px solid #5a8;
}

.list-item__text {
  margin: 0;
  font: inherit;
  flex: 1;
}
.list-item__checkbox {
  margin: 0 1rem;
}


.md-checkbox__label {
  margin-left: .5rem
}