
.app-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.app-content {
  margin: 12px auto;
  padding: 8px;
  max-width: 700px;
}

.section {
  margin-bottom: 40px;
  padding: 1rem 0;
  margin: 1rem 0;
}

.btn {
  cursor: pointer;
  font: inherit;
  padding: .5rem 1rem;
  border: 1px solid #555;
  border-radius: 2px;
  background: radial-gradient(white, beige);
}
.btn.btn--small {
  padding: .25rem;
}
.btn.btn-primary {
  background: dodgerblue;
  color: whitesmoke;
}
.btn.btn-danger {
  background: indianred;
  color: whitesmoke;
}


.new-item__wrapper {
  position: relative;
}
.new-item__hint {
  position: absolute;
  display: none;
  bottom: -16px;
  left: 4px;
  font-size: .75rem;
}
.new-item__hint.active  {
  display: inline !important;
}
.new-item__text {
  resize: none;
  outline: none;
  font: inherit;
  width: 100%;
  min-height: 64px;
  padding: .5rem;
  margin-bottom: .25rem;
  border: 1px solid black;
  border-radius: 4px;
  transition: border ease-in-out .05s;
}
.new-item__text:focus {
  border-top-color: coral;
  border-bottom-color: deepskyblue;
  border-right-color: darkorchid;
  border-left-color: deeppink;
}


.md-editor {
  position: relative;
}

.md-editor .md-editor__textarea {
  resize: none;
  outline: none;
  font: inherit;
  width: 100%;
  padding: .5rem;
  margin-bottom: .25rem;
  border: 1px solid black;
  border-radius: 4px;
  transition: border ease-in-out .05s;
}

.md-editor .md-editor__textarea:focus {
  border-top-color: coral;
  border-bottom-color: deepskyblue;
  border-right-color: darkorchid;
  border-left-color: deeppink;
}

.md-editor .md-editor__controls {
  display: flex;
  justify-content: space-between;
}

.md-editor .md-editor__controls .controls__hint {
  position: absolute;
  display: none;
  font-size: .75rem;
}

.md-editor .md-editor__controls .controls__hint.active {
  display: inline !important;
}